div.card {
    margin-top: 50px;
}

div.alert {
    margin-top: 20px;
}

div.balances {
    margin-top:10px;
}

.content h1, .content h3 {
    margin-top:50px;
}

.faucet-info {
    text-align:center;
}

.faucet-part {
    border-left: 5px solid gray;
    padding: 10px;
    margin: top 20px!important;
}

.faucet-part-user {
    margin-bottom: 10px;
}

.faucet-address-to {
    margin-bottom:10px;
}

.balance-badge {
    font-size:1em!important;
}

.logotext_alpha {
  display: inline-block;
  font-family: 'Titillium Web';
    --tw-text-opacity: 1;
    color: rgba(229, 38, 47, var(--tw-text-opacity));
    font-weight: 700;
}

.logotext_oxhead {
  display: inline-block;
  font-family: 'Titillium Web';
    --tw-text-opacity: 1;
    color: rgba(30, 38, 166, var(--tw-text-opacity));
    font-weight: 900;
}
